%btn {
    font-size: 1.3rem;
    font-weight: 100;
    padding: 1.3rem 5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: $btn-bg-color;
    border-style: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}