@import 'variables';
@import 'extends';

@import 'components/btn';
@import 'components/cake-wrapper';
@import 'components/cake-list';
@import 'components/cake-block';
@import 'components/cake-constructor';
@import 'components/cake-info';
@import 'components/swiper-container';
@import 'components/swiper-attrubutes.scss';
@import 'components/swiper-pagination';


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    color: $text-color;
}

.wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    outline: 1px solid olivedrab;
}
